<div class="container-fluid wrapper">
    <mat-card class="contract-card mat-elevation-z0">
        <div class="row">
            <div class="col-12">
                <app-user-navbar></app-user-navbar>
            </div>
            <div>
                <hr class="hr" />
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"><mat-icon aria-hidden="false" aria-label="minimize icon" class="control-icon">search</mat-icon></span>
                    <input type="text" class="form-control" placeholder="Search" (keyup)="searchTerm($event)">
                </div>
                <p class="hour-text">Hours this week</p>
                <hr class="hr" *ngIf="!contracts.length"/>
            </div>
        </div>

        <div class="row" *ngIf="!contracts.length">
            <div class="col-12">
                <div class="no-contract">
                    <p class="no-contract-text">You have no open contract</p>
                    <button mat-raised-button color="primary" class="button find-work" (click)="findWork()">Find work</button>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="contracts.length">
            <div class="col-12">
                <div class="contracts-list">
                    <div class="yes-contracts">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let contract of contracts | filter:term" (click)="contractDetails($event, contract)">
                                <a [routerLink]="['/', 'contract-details', contract.id]">
                                    <div class="list-content">
                                        <div class="first-row">
                                            <span class="first-row-text">{{contract?.contractName}}</span>
                                            <span class="first-row-text">{{contract?.hours}}</span>
                                        </div>
                                        <div class="second-row">
                                            <span class="second-row-text">{{contract?.clientName}}</span>
                                            <span class="second-row-text">{{contract?.limit}}</span>
                                        </div>
                                        <!-- <mat-icon aria-hidden="false" aria-label="keyboard_arrow_right icon" class="button-icon">keyboard_arrow_right</mat-icon> -->
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>


</div>