@import "../../../scss/variables";

@include XS{

    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100vh;
    }
    .contract-card{
        background: white;
        height: calc( 100vh - 3rem );
        width: 95vw;
        margin-top: 0.5rem;
        overflow-y: auto;
        border-style:hidden;
        @include SM{
            width: 75vw;
        }

        @include MD{
            width: 90vw;
        }

        @include LG{
            width: 60vw;
        }

        @include XL{}

        @include XXL{
            width: 50vw;
        }
    }

    .title-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 1rem;
    }

    .contract-title-section{
        margin-top: 1.5rem;
    }

    .contract-title-block{
        margin-left: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .contract-title{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: capitalize;
        color: #212529;
        margin-bottom: 0.1rem;
    }

    .client-name{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9rem;
        color: #898989;
    }

    .control-icon{
        font-size: 3rem;
        align-self: flex-start;
        color: #898989;
        margin-top: -0.4rem;
    }

    hr.hr {
        border-top: 1px solid #898989;
        margin: 0rem 0;
    }

    .timer{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0rem;

        @include MD{
            padding: 0 2rem;
        }
    }

    .counter{
        display: flex;
        flex-direction: column;
    }

    .current-session{
        .current-session-title{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: $XSFontSize;
            color: #898989;
            margin-bottom: 0.1rem;

            @include SM{
                font-size: $XSFontSize;
            }
            @include MD{
                font-size: $MDFontSize;
            }
            @include LG{
                font-size: $LGFontSize;
            }
            @include XL{
                font-size: $XLFontSize;
            }
            @include XXL{
                font-size: $XXLFontSize;
            }
        }

        .time{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            font-size: clamp(1.7rem, 2.3vw, 3rem);
            margin-top: 0.5rem;
            color: #212529;
        }
    }

    .today{
        .today-title{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: $XSFontSize;
            color: #898989;
            margin-bottom: 0.1rem;
            margin-top: 0.6rem;

            @include SM{
                font-size: $XSFontSize;
            }
            @include MD{
                font-size: $MDFontSize;
            }
            @include LG{
                font-size: $LGFontSize;
            }
            @include XL{
                font-size: $XLFontSize;
            }
            @include XXL{
                font-size: $XXLFontSize;
            }
        }

        .today-text{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: $XSFontSize;
            color: #212529; 

            @include SM{
                font-size: $XSFontSize;
            }
            @include MD{
                font-size: $MDFontSize;
            }
            @include LG{
                font-size: $LGFontSize;
            }
            @include XL{
                font-size: $XLFontSize;
            }
            @include XXL{
                font-size: $XXLFontSize;
            }
        }
    }

    .button{
        .start-button{
            border: 1px solid #e28f7a;
            border-radius: 15px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: bold;
            color: #FFFFFF;
            font-size: 1.4rem;
            padding: 0.3rem 0.9rem;
        }

        .stop-button{
            border: 1px solid #FD4F56;
            background-color: #FD4F56;
            border-radius: 15px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: bold;
            color: #FFFFFF;
            font-size: 1.4rem;
            padding: 0.3rem 0.9rem;
        }

        .button-icon{
            color: #FFFFFF;
            margin-top: 0.6rem;
            margin-left: 0.8rem;
        }

        .week{
            margin-top: 1rem;
            .week-title{
                font-family: Gilroy;
                font-style: normal;
                font-weight: 500;
                font-size: $XSFontSize;
                color: #898989;
                margin-top: 0.5rem;
                margin-bottom: 0.1rem;
    
                @include SM{
                    font-size: $XSFontSize;
                }
                @include MD{
                    font-size: $MDFontSize;
                }
                @include LG{
                    font-size: $LGFontSize;
                }
                @include XL{
                    font-size: $XLFontSize;
                }
                @include XXL{
                    font-size: $XXLFontSize;
                }
            }

            .week-text{
                font-family: Gilroy;
                font-style: normal;
                font-weight: 500;
                font-size: $XSFontSize;
                color: #212529; 
    
                @include SM{
                    font-size: $XSFontSize;
                }
                @include MD{
                    font-size: $MDFontSize;
                }
                @include LG{
                    font-size: $LGFontSize;
                }
                @include XL{
                    font-size: $XLFontSize;
                }
                @include XXL{
                    font-size: $XXLFontSize;
                }
            }
        }
    }

    .memo-section{
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;

        @include MD{
            padding: 0 2rem;
        }

        .memo-title{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: $XSFontSize;
            color: #212529;
            margin-bottom: 0.1rem;

            @include SM{
                font-size: $XSFontSize;
            }
            @include MD{
                font-size: $MDFontSize;
            }
            @include LG{
                font-size: $LGFontSize;
            }
            @include XL{
                font-size: $XLFontSize;
            }
            @include XXL{
                font-size: $XXLFontSize;
            }
        }

        .memo-input{
            width: 100%;
        }

        .input{
            height: 6rem;
        }
    }

    .others-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include MD{
            padding: 0 2rem;
        }

        .button-icon{
            margin-left: 1rem;
        }

        .others-button{
            margin-bottom: 0.7rem;
        }
    }

    .manual-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    // .manual-button{

    // }

    .manual-section{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .date-picker{
        border: 1px solid $primary-color;
    }


    .time-picker{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    .timer-input{
        width: 45%;
    }

    .timer-to{
        width: 10%;
        margin: 1rem;
        font-size: 1rem;
    }

}