@import "../../../scss/variables";

@include XS{
    .wrapper{
        background: #F1F1F1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-card{
        background: white;
        // background: black;
        height: calc( 100vh - 2.375rem );
        width: 95vw;
        overflow: hidden;
    }

    .form-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $text-color;
        height: 100%;
    }

    .logo{
        width: 1.3rem;
        object-fit: contain;
        height: auto;
    }

    .logo-long{
        width: 12rem;
        object-fit: contain;
        height: auto;
        margin-bottom: 1rem;
        display: block;
        margin-top: 1rem;  
    }

    .logo-text{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(1rem, 4vw, 1.8rem);
        line-height: 150%;
        color: #212529;
        opacity: 0.8;
        margin-left: 0.5rem;
    }

    .card-title{
        font-size: clamp(1rem, 8.5vw, 2rem);
        text-align: center;
        font-weight: 600;
        color: $heading-color;
        margin-bottom: 3rem;
    }

    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
        width: 90%;
        margin: 0 0;
    }

    input{
        width: 100%;
        padding: 00.01rem 0;
        // margin: 8px 0;
        // box-sizing: border-box;
        // border: 0.063rem solid $text-color;
        // border-radius: 0.25rem;
        background-color: white;
        // color: $text-color;
        outline: none;
    }

    .input-wrapper{
        width: 95%;
    }

    .checkbox{
        margin-top: -1rem;
    }

    .password-bottom-clear{
        margin-bottom: -1rem;
    }
    .password-bottom{
        margin-bottom: 0.3rem;
    }

    .card-action{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
    }

    .button-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .button{
        width: 85%;
        margin-bottom: 1rem !important;
    }

    .hr-div{
        position: relative;
        width: 85%;
    }

    hr.hr {
        border-top: 2px solid #898989;
    }

    .hr-text{
        position: absolute;
        top: 22%;
        left: 47%;
        color: #898989;
    }

    .email-login{
        margin-bottom: 0 !important;
    }

    .facebook-login{
        background: #4267B2;
        border: 1px solid #4267B2;
        color: white;
    }

    .button-icon{
        color: white;
        float: left;
        padding-top: 2%;
        width: 1.5rem;
        height: auto;
    }

    .google-icon{
        float: left;
        padding-top: 2%;
        width: 1.5rem;
        height: auto;
    }

    .apple-login{
        background: #272727;
        border: 1px solid #272727;
        color: white;
    }

    .spinner-section {
        display: flex;
        align-content: center;
        align-items: center;
        height: 60px;
        z-index: 99;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        position: fixed; /* Sit on top of the page content */

    }
      
    .spinner-margin {
        margin: 0 10px;
    }

    .overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 98; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
}

@include SM{
    .login-card{
        background: white;
        height: calc( 100vh - 2.375rem );
        width: 75vw;
        overflow-x: auto;
    }

    .logo{
        width: 1.1rem;
        object-fit: contain;
        height: auto;
    }

    .logo-long{
        width: 10rem;
        object-fit: contain;
        height: auto;
        margin-bottom: 1.5rem;
        display: block;
        margin-top: 4rem; 
    }

    .logo-text{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(1rem, 2vw, 1.8rem);
        line-height: 150%;
        color: #212529;
        opacity: 0.8;
        margin-left: 0.5rem;
    }

    .card-action{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-right: 0.7rem;
    }

    .button{
        width: 95%;
        margin-bottom: 1rem !important;
    }
}

@include MD{
    .login-card{
        background: white;
        height: calc( 100vh - 2.375rem );
        width: 70vw;
        overflow-x: auto;
    }

    .logo-text{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(0.9rem, 2vw, 1.8rem);
        line-height: 150%;
        color: #212529;
        opacity: 0.8;
        margin-left: 0.5rem;
    }
    .card-action{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        margin-right: 1.2rem;
    }

    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
        width: 80%;
        margin: 0 0;
    }
}

@include LG{
    .login-card{
        background: white;
        height: calc( 100vh - 2.375rem );
        width: 60vw;
        overflow-x: auto;
    }

    .logo-text{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(0.8rem, 1.5vw, 1.5rem);
        line-height: 150%;
        color: #212529;
        opacity: 0.8;
        margin-left: 0.5rem;
    }

    .card-action{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-right: 1.2rem;
    }

    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
        width: 75%;
        margin: 0 0;
    }
}

@include XL{}

@include XXL{
    .login-card{
        background: white;
        height: calc( 100vh - 2.375rem );
        width: 50vw;
        overflow-x: auto;
    }

    .logo-text{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(0.7rem, 1vw, 1rem);
        line-height: 150%;
        color: #212529;
        opacity: 0.8;
        margin-left: 0.5rem;
    }

    .card-action{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-right: 1.2rem;
    }

    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
        width: 55%;
        margin: 0 0;
    }
}
